<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SOLE-ZON-SOLIS - {% block title %}{% endblock %}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
		{% block styles %}{% endblock %}
	</head>
	<body>
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 border-bottom">
			<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
				<img class="logo" src="/assets/logo.svg" />
			</a>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/contact_us" class="nav-link px-2 link-dark">Contact Us</a></li>
				<li><a href="/manufacturing" class="nav-link px-2 link-dark">Manfacturing</a></li>
				<li><a href="/solar_generation" class="nav-link px-2 link-dark">Solar Generation</a></li>
				{% if user.get_id() == 'admin' %}
					<li><a href="/admin" class="nav-link px-2 link-dark">Admin</a></li>
				{% endif %}
			</ul>

			<div class="col-md-3 text-end">
				{% if user.get_id() %}
					<span class="mr-4">Welcome, {{ user.get_id() }}</span>
					<a type="button" class="btn btn-outline-primary me-2" href="/logout">Logout</a>
				{% else %}
					<a type="button" class="btn btn-outline-primary me-2" href="/login">Login</a>
				{% endif %}
			</div>
		</header>
		{% block precontent %}{% endblock %}
		<div class="container mt-4">
			{% block content %}{% endblock %}
		</div>
		
		<div class="container py-5">
			<hr />
			<footer class="">
				<div class="row">
					<div class="col-4">
						<div class="vita-logo-container">
							<a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
								<img class="vita-logo mx-auto d-block" src="/assets/vita_logo.svg">
							</a>
						</div>
					</div>
					<div class="col-4">
						<form>
							<h5>Subscribe to our newsletter</h5>
							<p>Monthly digest of what's new and exciting from us.</p>
							<div class="d-flex flex-column flex-sm-row w-100 gap-2">
								<label for="newsletter1" class="visually-hidden">Email address</label>
								<input id="newsletter1" type="text" class="form-control" placeholder="Email address">
								<button class="btn btn-primary" type="button">Subscribe</button>
							</div>
						</form>
					</div>

					<div class="col-4 text-center">
						<ul class="nav flex-column">
							<li class="nav-item mb-2"><a href="/contact_us" class="nav-link p-0 text-muted">Contact Us</a></li>
							<li class="nav-item mb-2"><a href="/manufacturing" class="nav-link p-0 text-muted">Manufacturing</a></li>
							<li class="nav-item mb-2"><a href="/solar_generation" class="nav-link p-0 text-muted">Solar Generation</a></li>
						</ul>
					</div>
				</div>

				<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
					<p>© 2022 SOLEZONSOLIS, Inc. All rights reserved.</p>
				</div>
			</footer>
		</div>
		<script>
			
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>
</html>
