<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<style type="text/css">
	.card {
		margin-bottom: 1rem;
	}
</style>

<div class='row'>
	<div class="col" id="arrayCol"></div>
	<div class="col">
		<pre id="dataPre">
			
		</pre>
	</div>
</div>

<script type="text/javascript">
	let notfounder = val => typeof val === 'undefined' ? 'Not Found' : val;
	fetch('/solar/api').then(r => r.json()).then(json => {
		let overallOutputPower = 0;
		let cards = json.solarData.map((a, idx) => {
			overallOutputPower += (a['output-voltage'] || 0) * (a['output-current'] || 0);
			return `
<div class="card">
	<div class="card-header">Array #${idx + 1}</div>
  <div class="card-body">
    <pre>Output Voltage: ${notfounder(a['output-voltage'])}
Output Current: ${notfounder(a['output-current'])}
Temperature: ${notfounder(a['temperature'])}</pre>
  </div>
</div>
		`}).join("");
		document.querySelector('#arrayCol').innerHTML += cards;
		document.querySelector('#dataPre').innerText = `
Overall Output Power: ${overallOutputPower}
Tracker Tilt Degree: ${json.trackerTiltDegree}
Azimuth Angle: ${json.azimuthAngle}
`;
		
	});
</script>